@import url('https://fonts.googleapis.com/css?family=David+Libre:400,700');

body{
    font-family: 'David Libre';
    font-size: 18px;
    line-height: 1.5;
    color:#48353a;
    text-align: center;
}

header h1 {
    float:left;
    padding: 0 20px 0 0;
}

header nav{
    float:right;
    padding: 0 0 0 30px;
}

header h2{
    text-align:center;
    top:0;
    margin:0 150px 20px;
}

header {
    overflow:hidden;
    background-color: orangered;
    position:inherit;
    background-size:contain;
}

section.hero img {
    width:100%;
}

section.photography {
    font-size: 20px;
    color:orangered;
    padding:30px;
}

section.photo1 img {
    width:50%;
}

section.quotes div {
    color:orangered;
    padding:inherit;
    line-height:1;
    text-align:justify;
    font-size:6px;
    overflow:hidden;
}

section.photo2 img {
    width:50%;
}

section.quotes2 div {
    float:left;
    width:50%;
    color:orangered;
    padding:inherit;
    line-height:1;
    text-align:justify;
    font-size:8px;
}

section.photo3 img {
    width:50%;
}

section.quotes3 div {
    float:left;
    width:50%;
    color:orangered;
    padding:inherit;
    line-height:1;
    text-align:justify;
    font-size:10px
}

section.photo4 img {
    width:50%;
}

footer {
    background-color:orangered;
    background-size:cover;
    padding: 20px;
}