@import url('https://fonts.googleapis.com/css?family=David+Libre:400,700');

body{
    font-family: 'David Libre';
    font-size: 18px;
    line-height: 1.5;
    color:#48353a;
    text-align: center;
}

header h1 {
    float:left;
    padding: 0 20px 0 0;
}

header nav{
    float:right;
    padding: 0 0 0 30px;
}

header h2{
    text-align:center;
    top:0;
    margin:0 150px 20px;
    
}

header {
    overflow:hidden;
    background-color: orangered;
    position:inherit;
}

section.hero img {
    width:100%;
}

section.photography {
    font-size: 20px;
    color:orangered;
    padding:30px;
}

section.photo1 img {
    width:100%;
}

section.quotes div.quote1 {
    font-size: 14px;
}
section.quotes div.quote2 {
    font-size: 14px;
}