@import url('https://fonts.googleapis.com/css?family=David+Libre:400,700');
*{
    box-sizing:border-box;
}
body{
    font-family: 'David Libre';
    font-size: 18px;
    line-height: 1.5;
    color:#48353a;
    text-align: center;
}

header h1 {
    font-size:25px;
    float:left;
    padding: 0 20px 0 20px;
}

header h1:hover {
     color: white;
}

header nav{
    font-size:25px;
    float:right;
    padding:0 20px 0 20px;
}

header nav:hover {
     color: white;
}

header h2{
    font-size:30px;
    text-align:center;
    text-align:justify;
    margin:220px auto;
    max-width:700px;
    
}

header h2:hover {
    color: white;
}
header {
    overflow:hidden;
    background-color: orangered;
    position:inherit;
    background-size:contain;
    height: 700px;
}

section.hero img {
    width:100%;
}

section.photography {
    font-size: 20px;
    color:orangered;
    padding:30px;
}

section.photography:hover {
    color:fuchsia;
}

section.photo1 img {
    width:50%;
    min-width:400px;
}

section.quotes{
    color:black;
    line-height:1.5;
    font-size:20px;
    max-width: 50%;
    min-width: 400px;
    margin:auto;
    font-size:13px;
    text-align:justify;
}

.quote1, .quote2 {
    width: 50%;
    float:left;
    padding: 10px;
}

section.photo2 img {
    float:center;
    width:50%;
    min-width:400px;
}

.quote1:hover{
    color: orangered;
}

.quote2:hover{
    color: orangered;
}

section.photo3 img {
    width:50%;
    min-width:400px;
}

section.photo4 img {
    width:60%;
    min-width:400px;
}

.location {
    color:black;
    margin: 50px;
}

.location:hover {
    color:fuchsia
}
footer {
    background-color:orangered;
    height:300px;
    padding: 20px;
    margin-bottom:0px;
}

footer h1 {
    text-decoration: none;
    color:white;
    float:left;
    padding:230px 1px 0 1px;
}


footer:hover {
    background-color:#48353a;
}