* {
    box-sizing: border-box;
}
header img {
    max-width: 100%;
}

body {
    font-family:'Righteous', cursive;
    font-size: 20px;
    line-height:1.3;
    color:white;
    
    background-color: #181818;
}

header {
    background-color:#181818;
    color:#ffffff;
}

div.wrap{
    max-width: 960px;
    margin: 0 auto 0 auto;
    overflow: hidden;
}

header h1 {
    float: left;
    width: 125px;
    padding:10px
}

header nav{
    float: right;
    padding:15px;
}

header nav a{
    font-size:20px;
    text-decoration: none;
    color:#ffffff;
    margin:0 25px;
}

header nav a:hover {
    border-bottom:1px solid #ffffff;
}

section{
    line-height:1.4;
    font-size:23px;
}

section h1 {
    font-size:13px;
    padding:50px 20px 0 0;
}

section p{
    max-width:800px;
}

section p:hover{
    color:yellow;
}

section p.contact{
    max-width:300px
}

p {
    font-family: Comfortaa, cursive;
}
